{% extends 'families/base.html' %}

{% load staticfiles %}

{% block nav %}

    <li><a href="{% url 'families:detail' group_pk %}">Discussion</a></li>
    <li><a href="{% url 'families:todo:todo-lists' group_pk %}">Group Gear</a></li>
    <li><a href="{% url 'families:meal_list' group_pk %}">Meal Planning</a></li>
    <li><a href="{% url 'families:todo:todo-mine' group_pk %}">My Gear</a></li>
    <li class="active"><a href="{% url 'families:festivals:event_info' group_pk=group_pk event_slug=event.slug %}">Festival Info</a></li>

{% endblock nav %}

{% block primary_content %}

<div class="row">
    <div class="col-md-12">
        <h3>Getting to {{ event.name }}</h3>
        <p>The campground opens at <strong>{{ event.start_date|time:"P" }}</strong> on {{ event.start_date|date:"l" }} {{ event.start_date|date }}.
        <p>To get to GA campinng, navigate to the address below. </p>
        <iframe
          width="600"
          height="250"
          frameborder="0" style="border:0"
          src="https://www.google.com/maps/embed/v1/search?key=AIzaSyDvmsQbbmcAto4VsCsGaojYVblBn176ojg&q={{ event.event_address.street_number}}+{{event.event_address.street }},{{ event.event_address.state}}" allowfullscreen>
        </iframe>
        <hr>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3>What can I bring?</h3>
        <hr>
        <div class="col-md-6">
            <p><strong>Totems:</strong>{% if event.event_restrictions.totems %} Yes {% else %} No {% endif %}</p>
            <p><strong>Hydration Pack:</strong>{% if event.event_restrictions.hydration_pack %} Yes {% else %} No {% endif %}</p>
            <p><strong>Camping Stove:</strong>{% if event.event_restrictions.camping_stove %} Yes {% else %} No {% endif %}</p>
            <hr>
            <p>For information on other items, see the <a href="{{ event.faq_site }}">{{ event.name }} F.A.Q.</a>
        </div>
        <div class="col-md-6">
            <p><strong>Beer:</strong>{% if event.event_restrictions.beer %} Yes {% else %} No {% endif %}</p>
            <p><strong>Wine:</strong>{% if event.event_restrictions.wine %} Yes {% else %} No {% endif %}</p>
            <p><strong>Liquor:</strong>{% if event.event_restrictions.liqour %} Yes {% else %} No {% endif %}</p>
            <hr>
            <p>{{ event.event_restrictions.alcohol_policy }}</p>
        </div>
    </div>
</div>
{% endblock primary_content %}
