{% extends "accounts/base.html" %}

{% block primary_content %}
    <div class="row primary-content">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <p>{{ object.user.first_name }} {{ object.user.last_name }}</p>
                    <h4>Bio</h4>
                    <p>{{ object.bio }}</p>
                    <h3>Social Media</h3>
                    {{ object.twitter }}
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    {% for group in group_list %}
                        {{ group.familygroup.event.name }}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-3">
        </div>
    </div>
{% endblock %}
