{% comment %}
  Something that django_comments does not provide:
  An individual template for a single comment, to easily be reused.

  This include is also used by the Ajax comments view.
  The div id should be "c{id}", because the comment.get_absolute_url() points to it.

  NOTE: to override the displayed date format, don't replace this template.
  Instead, define DATETIME_FORMAT in a locale file. Requires setting:

   FORMAT_MODULE_PATH = 'settings.locale'

  Then create 'settings/locale/XY/formats.py' with:

   DATETIME_FORMAT = '...'

  This should give you consistent dates across all views.
{% endcomment %}
{% load i18n %}
        <div{% if preview %} id="comment-preview"{% else %} id="c{{ comment.id }}"{% endif %} class="comment-item">
          {% if preview %}<h3>{% trans "Preview of your comment" %}</h3>{% endif %}

              {% if not comment.is_public %}<span class="comment-moderated-flag">({% trans "moderated" %})</span>{% endif %}

              <div class="row">
                  <div class ="col-sm-12">

                      <div class="row">
                          <div class="col-sm-1">
                              <img class="small-avatar" src="{{ comment.user.userprofile.profile_pic.url }}"><br/>

                          </div>
                          <div class="col-sm-11">
                              <div class="row comment-body">
                                  <div class="row">
                                      {% if comment.name %}<strong>{{ comment.name }}</strong> <div class="comment-text">{{ comment.comment|linebreaks|urlize }}</div> {% else %}{% trans "Anonymous" %}{% endif %}{% comment %}

                                      {% endcomment %}
                                      <!-- {% if USE_THREADEDCOMMENTS and not preview %}<a href="#c{{ comment.id }}" data-comment-id="{{ comment.id }}" class="comment-reply-link">{% trans "reply" %}</a>{% endif %} -->
                                  </div>

                              </div>
                              <!--<span class="pull-right">{% blocktrans with submit_date=comment.submit_date %}{{ submit_date }}{% endblocktrans %}</span>-->
                          </div>
                      </div>
                  </div>
              </div>
          </div>
