{% load comments i18n crispy_forms_tags fluent_comments_tags %}

{% if not form.target_object|comments_are_open %}
    <p>{% trans "Comments are closed." %}</p>
{% else %}
    <!-- <p>Add song:</p>
    <script type="text/javascript">
        $(document).ready(function() {


            $("#slideToggle").hover(function () {
                $(this).css("color", "#ff7700");
            },
            function () {
                $(this).css("color", "inherit");
            });

            $('#hide_url').hide();

            $('#slideToggle').click(function(){
                $('#hide_url').slideToggle();
            });


        });
    </script>
    <p><i id="slideToggle" class="fa fa-2x fa-soundcloud" aria-hidden="true"></i></p> -->
    <form id="comment-form-{{ form.target_object.pk }}" data-object-id="{{ form.target_object.pk }}" action="{% comment_form_target %}" method="post" class="{{ form.helper.form_class|default:'js-comments-form comments-form form-horizontal' }}"
          data-ajax-action="{% url 'comments-post-comment-ajax' %}">
      {% if next %}<div><input type="hidden" name="next" value="{{ next }}" /></div>{% endif %}

          {% crispy form %}

      <div class="form-group">
        <div class="col-sm-offset-1 col-sm-11">
          <input type="submit" name="post" class="btn btn-primary pull-right" value="{% trans 'Post' %}" />
          {% ajax_comment_tags for form.target_object %}
        </div>
      </div>
    </form>
{% endif %}
