{% extends "base.html" %}

{% load staticfiles %}

{% block content %}
<div class="container-fluid">
    <div class="row">

        <div class="col-md-12">
            <img class="img-responsive" src="{{ group.familygroup.event.cover_photo.url }}">
            <div class="event-title text-center">
                <h1>{{ group.familygroup.event.name }} {{ group.familygroup.event.start_date|date:"Y" }} | The <em>{{ group.name }}</em> Fam </h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="members-list text-center">
            <h2>This is the Fam</h2>
            <div class="center-block">
                {% for member in members %}
                    <span><img class="top-avatar" src="{{ member.userprofile.profile_pic.url}}"></span>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <ul class="nav navbar-nav">
                    {% block nav %}
                    {% endblock nav %}
                </ul>
            </div>
        </div>
    </div>

    <hr>
    <div class="row primary-content">
        <div class="col-md-2 sidebar">
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <img class = "img-circle center-block" src="{{ user.userprofile.profile_pic.url }}"><br/>
                        <p><strong>Username: </strong>{{ user }}</p>
                        <p><strong>Bio: </strong>{{ profile.bio }}
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-7">
            {% block primary_content %}
            {% endblock %}
        </div>
        <div class="col-md-3">

            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>{{ group.familygroup.event.start_date|date:"M d" }} - {{ group.familygroup.event.end_date|date:"M d" }}</h3>
                    <p><strong>Location: </strong>{{ group.familygroup.event.location }}</p>
                    <p><strong>About {{ group.familygroup.event.name }}:</strong></p>
                    <p>{{ group.familygroup.event.description }}</p>

                    <a href="{{ group.familygroup.event.registration_site }}">Buy Tickets</a>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    <h5>About:</h5>
                    <p>{{ group.description }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
