{% extends "base.html" %}
{% load comments %}
{% block content %}
<h1>{{ group.title }}</h1>
<h2>Description</h2>
{{ group.description }}
<h2>Post Comment</h2>
{% render_comment_form for group%}
<table>
  <form action="{% comment_form_target %}" method="post">
    {% csrf_token %}
    {{ form }}
    <tr>
      <td colspan="2">
        <input type="submit" name="submit" value="Post">
        <input type="submit" name="preview" value="Preview">
      </td>
    </tr>
  </form>
</table>
<h2>All Comments</h2>
{% render_comment_list for group %}
<h2>Members</h2>
<ul>
    {% for member in members %}
        <li>{{ member.first_name }} {{ member.last_name }}</li>
    {% endfor %}
</ul>
<h2>Event Details</h2>
<p><strong>Festival: </strong>{{ group.event.name }}
<p><strong>Location: </strong>{{ group.event.location }}</p>
<a href="{{ group.event.registration_site }}">Buy Tickets</a>
{% endblock content %}
