{% extends 'families/base.html' %}

{% load staticfiles %}
{% load comments %}

{% block nav %}
    <ul class="nav nav-sidebar">
        <li class="active"><a href="#">Discussion</a></li>
        <li><a href="#">The Plan</a></li>
        <li><a href="#">Meals</a></li>
        <li><a href="{% url 'todo:todo-incomplete_tasks' list_id=list.id list_slug=list.slug %}">Group Sh*t</a></li>
        <li><a href="#">Personal Sh*t</a></li>
    </ul>
{% endblock nav %}

{% block primary_content %}
{% render_comment_form for group %}
{% render_comment_list for group %}
{% endblock primary_content %}
