{% extends "base.html" %}

{% load staticfiles %}
{% load comments %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="text-center">
            <h1>{{ group.event.name}}</h1>
            <h2>The <em>{{ group.title}}</em> Fam</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <img class = "img-circle center-block" src="{{ user.userprofile.profile_pic.url }}"><br/>
                        <p><strong>Username: </strong>{{ user }}</p>
                        <p><strong>Bio: </strong>{{ profile.bio }}
                    </div>
                </div>
            </div>
            <div class ="row">
            </div>
            <div class ="row">
            </div>
        </div>
        <div class="col-md-7">
            <img class="img-responsive " src="{{ group.event.cover_photo.url }}">
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h2>{{ group.event.start_date|date:"M d" }} - {{ group.event.end_date|date:"M d" }}</h2>
                    <p><strong>Location: </strong>{{ group.event.location }}</p>
                    <p><strong>About {{ group.event.name }}:</strong></p>
                    <p>{{ group.event.description }}</p>

                    <a href="{{ group.event.registration_site }}">Buy Tickets</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active"><a href="#">Discussion</a></li>
                <li><a href="#">The Plan</a></li>
                <li><a href="#">Meals</a></li>
                <li><a href="#">Group Sh*t</a></li>
                <li><a href="#">Personal Sh*t</a></li>
            </ul>
        </div>
        <div class="col-md-7">
            {% render_comment_form for group%}
            {% render_comment_list for group %}
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h5>About:</h5>
                    <p>{{ group.description }}</p>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <h2>Members</h2>
                    <ul class="members-list">
                        {% for member in members %}
                            <li><img class="small-avatar" src="{{ member.userprofile.profile_pic.url}}"><br/>{{ member.first_name }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
