{% extends 'families/base.html' %}

{% load staticfiles %}

{% block nav %}

    <li><a href="{% url 'families:detail' group_pk %}">Discussion</a></li>
    <li><a href="#">The Plan</a></li>
    <li class="active"><a href="{% url 'families:meal_list' group_pk %}">Meals</a></li>
    <li><a href="{% url 'families:todo:todo-lists' group_pk %}">Group Gear</a></li>
    <li><a href="#">Personal Gear</a></li>
    <li><a href="#">Festival Info</a></li>
    <li><a href="#">Stay Safe</a></li>

{% endblock nav %}

{% block primary_content %}

{% block title %} Meals {% endblock %}

    {{ festival_days }}
   <h1>Gettin' that Grub</h1>
   <h2>Meals</h2>
   <ul>
       {% for meal in meals %}
       <li><a href="{% url 'families:meal_detail' group_pk meal.pk %}">{{ meal }}</a></li>
       {% endfor %}
   </ul>

   <div>
       <table class="table table-bordered">
           <thead>
               <tr>
                   <th>Day</th>
                   <th>Breakfast</th>
                   <th>Lunch</th>
                   <th>Dinner</th>
               </tr>
           </thead>
           <tbody>
               {% for day in festival_days %}
                   <tr>
                       <th scope="row">{{ day }}</th>
                       {% for meal in meals %}
                           {% if meal.day = day %}
                               <td>
                               {% if meal.time = "Breakfast" %}
                                   {{ meal.name }}
                               {% endif %}
                               </td>
                               <td>
                                   {% if meal.time = "Lunch" %}
                                       {{ meal.name }}
                                   {% endif %}
                               </td>
                               <td>
                                   {% if meal.time = "Dinner" %}
                                       {{ meal.name }}
                                   {% endif %}
                               </td>
                           {% endif %}
                       {% endfor %}
                   </tr>
               {% endfor %}
           </tbody>
       </table>
   </div>

{% endblock primary_content %}
