{% extends 'families/base.html' %}

{% load staticfiles %}

{% block nav %}

    <li><a href="{% url 'families:detail' group.pk %}">Discussion</a></li>
    <li><a href="{% url 'families:todo:todo-lists' group.pk %}">Group Gear</a></li>
    <li class="active"><a href="{% url 'families:meal_list' group.pk %}">Meal Planning</a></li>
    <li><a href="{% url 'families:todo:todo-mine' group.pk %}">My Gear</a></li>
    <li><a href="{% url 'families:festivals:event_info' group.pk group.familygroup.event.slug %}">Festival Info</a></li>

{% endblock nav %}

{% block primary_content %}

    <a href="{% url 'families:create_meal' group.pk %}">Add Meal</a>
   <h1>Gettin' that Grub</h1>
   <ul>
       {% for meal in meals %}
       <li><a href="{% url 'families:meal_detail' group.pk meal.pk %}">{{ meal }}</a></li>
       {% endfor %}
   </ul>

   <div>

       <table class="table table-bordered">
           <thead>
               <tr>
                   <th>Day</th>
                   <th>Breakfast</th>
                   <th>Lunch</th>
                   <th>Dinner</th>
               </tr>
           </thead>
           <tbody>

               {% for day in all_meals %}
                  <tr>
                       <th scope="row">{{ day.0 }}</th>
                               {% if day.1 = '' %}
                                    <td>{{day.1}}</td>
                               {% else %}
                                    <td><a href="{% url 'families:meal_detail' group_pk=group.pk meal_pk=day.1.pk %}">{{ day.1 }}</a></td>
                               {% endif %}
                               {% if day.2 = '' %}
                                    <td>{{day.2}}</td>
                               {% else %}
                                    <td><a href="{% url 'families:meal_detail' group_pk=group.pk meal_pk=day.2.pk %}">{{ day.2 }}</a></td>
                               {% endif %}
                               {% if day.3 = '' %}
                                    <td>{{day.3}}</td>
                               {% else %}
                                    <td><a href="{% url 'families:meal_detail' group_pk=group.pk meal_pk=day.3.pk %}">{{ day.3 }}</a></td>
                               {% endif %}
                   </tr>
               {% endfor %}
           </tbody>
       </table>
   </div>
   <h2>Food Tips</h2>
   <h3>Drinks</h3>
   <p><strong>Water</strong>: We recommend you bring 2 1/2 bottles of water per person per day you're there. So for your fam, that would be xx bottles or yy cases.</p>
   <p><strong>Booze</strong>: 5 beers per person per day and one fith for evey 2 people seems to be the sweet spot. Obviously you might want more or less, but if you're looking for a place to start that has
       worked incredibly well for a lot of groups. Give us your suggestions though!</p>

{% endblock primary_content %}
