{% extends 'families/base.html' %}

{% load staticfiles %}

{% block nav %}

<li><a href="#">Discussion</a></li>
<li><a href="#">The Plan</a></li>
<li><a href="#">Meals</a></li>
<li class="active"><a href="">Group Sh*t</a></li>
<li><a href="#">Personal Sh*t</a></li>

{% endblock nav %}

{% block primary_content %}

{% block title %} Meals {% endblock %}

   <h1>Gettin' that Grub</h1>
   <h2>Meals</h2>
   <ul>
       {% for meal in meals %}
       <li><a href="{% url 'families:meal_detail' group_pk meal.pk %}">{{ meal }}</a></li>
       {% endfor %}
   </ul>

   <div class="table-responsive">
       <table class="table">
           <thead>
               <tr>
                   <th>Day</th>
                   <th>Breakfast</th>
                   <th>Lunch</th>
                   <th>Dinner</th>
               </tr>
           </thead>
           <tbody>
               <tr>
                   <th scope="row">Wednesday</th>
                   <td>Granola Bars</td>
                   <td>Sammies</td>
                   <td>Pasta</td>
               </tr>
               <tr>
                   <th scope="row">Thursday</th>
                   <td>Yogurt & Fruit</td>
                   <td>Buy Lunch</td>
                   <td>Tacos</td>
               </tr>
           </tbody>
       </table>
   </div>

{% endblock primary_content %}
